.index-title {
    height: 50px;
    margin: 20px 0;
    .wrap-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title {
        flex: 0 0 auto;
        font-size: 32px;
        height: 36px;
        line-height: 30px;
    }
    .section {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        overflow-x: auto;
        //margin: 0 10px;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            // background-color: #000914;
        }
        & > div {
            flex: 0 0 auto;
        }

        .tag {
            display: flex;
            align-items: center;
            background-color: #f8f8f9;
            color: #666;
            height: 26px;
            line-height: 22px;
            padding: 3px 14px;
            margin-left: 10px;
            border-radius: 12px;
            cursor: pointer;
            &.active {
                background-color: #01acf0;
                color: #fff;
            }
            &.red {
                background-color: #f0131e;
                color: #fff;
            }
        }
        .pinyin {
            color: #666;
            margin-left: 10px;
            font-size: 18px;
        }
    }
    .more2{
        display: flex;
        flex: 0 0 auto;
        color: #00ADEF;
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 18px;
        cursor: pointer;
    }
    .more {
        display: flex;
        flex: 0 0 auto;
        .more-arrow {
            height: 20px;
            width: 20px;
            background-color: #000;
            flex: 0 0 auto;
            margin-left: 6px;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80% auto;
            background-color: #333;
        }
        .swiper-button-disabled {
            background-color: #999;
        }
        .prev {
            background-image: url("/swiper-arrow-left.png");
        }
        .next {
            background-image: url("/swiper-arrow-right.png");
        }
    }
}
